@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Poppins:wght@600&family=Roboto&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

