@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Poppins:wght@600&family=Roboto&display=swap');
@font-face {
  font-family: 'Moniqa';
  src: url(../Fonts/Monica.ttf);
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body{
  margin: 0;
}
