.container-artistsMini {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-artistsMini-photo{
    display: flex;
    gap: 30px;
}

.container-artistsMini button{
    align-self: center;
}


.container-artistsMiniCard {    
    width: 270px;
    height: 430px;
    background-color: blueviolet;
    display: flex;
    position: relative;
    justify-content: center;
}