
.wrapper-collections{
    min-height: 100vh;
}

.container-collections{
    max-width: 1170px;
    margin: 0 auto;

}

.container-collectionsCard{
    display: flex;
    flex-direction: column;
    max-height: 1440px;
    align-items: center;
}

.container-collectionsCard img{
    min-width: 0;
    object-fit: cover;
    max-width: 370px;
    height: 508px;
}