
.wrapper-collectioners{
    min-height: 100vh;
}

.container-collectioners{
    max-width: 1170px;
    margin: 0 auto;
}

.container-collectionersCard{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px 0 100px 0;
    border-top: 1px solid #B3B3B3;
    gap: 30px;
}

.text-collectionersCard{
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #353535;

    max-width: 770px;
    align-self: center;
}

.collectioners-img-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-collectionersCard img{
    min-width: 0;
    object-fit: cover;
    max-width: 370px;
    height: 508px;
}

.collectioners-btn{
    position: absolute;
    width: 210px;
    height: 57px;
    background: white;
    bottom: 30px;
    padding: 0px;
    border: 0px;
    
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #353535;
}

.full-collection{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-height: 366px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 50px;
    border-top: 1px solid #B3B3B3;
}

.full-collection-photo{
    display: flex;
    max-width: 870px;
    max-height: 315px;
    order: 1;
    column-gap: 30px;
    align-self: flex-end;
}

.full-collection-photo-sub{
    max-width: 270px;
}

.full-collection-photo-sub img{
    min-width: 0;
    max-width: 100%;
    object-fit: cover;
    max-height: 270px;
}

.full-collection-photo-sub p{
    margin: 10px 0 0 0;

    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #353535;
    text-align: center;
}